* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Mobile first 
   Index.html  */
/* Header */
.navbar {
  background-color: #2C2C2C;
  margin-bottom: 1px;
}
.navbar div div ul {
  font-family: fantasy;
}
.navbar div div ul li .list-color {
  text-align: center;
  color: white;
}
.navbar div div ul li .list-color:hover {
  color: #4bd0ee;
  transition: all 0.4s;
}

/* Main */
main {
  padding-top: 10px;
  background-color: #101010;
}
main h1 {
  font-size: x-large;
  text-align: center;
  color: white;
  font-family: fantasy;
}
main div img {
  width: 100%;
}
main .containerDivision {
  display: flex;
  justify-content: center;
}
main .containerDivision .divisionLine {
  border-bottom: 1px solid white;
  margin: 19px;
  width: 30%;
}
main .containerDivision .flecha {
  width: 10%;
}
main .containerText {
  padding: 3% 10% 10% 10%;
  text-align: center;
}
main .containerText p {
  margin-bottom: 0;
  color: white;
}

/* agenda.html Main */
.containerAgenda {
  text-align: center;
  color: white;
}
.containerAgenda h1 {
  font-size: large;
  padding-bottom: 10px;
}
.containerAgenda iframe {
  width: 90%;
  height: 350px;
}
.containerAgenda div {
  padding-top: 10px;
}
.containerAgenda div form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.containerAgenda div form input {
  width: 50%;
  margin: 5px;
  border-radius: 10px;
}
.containerAgenda div form .sendBotton {
  width: 20%;
}
.containerAgenda p {
  padding: 0% 10% 0% 10%;
  margin-bottom: 0;
}
.containerAgenda .firstP {
  padding-top: 10%;
}
.containerAgenda .lastP {
  padding-bottom: 10%;
}

/* Cortes.html */
.containerCortes {
  padding: 10px 5% 10% 5%;
  color: white;
}
.containerCortes h1 {
  font-size: 23px;
  padding-bottom: 5px;
}
.containerCortes p {
  text-align: center;
  padding-bottom: 5%;
}
.containerCortes .containerEj {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.containerCortes .containerEj div img {
  border-radius: 50px;
}

/* Ubicacion.html */
.containerUbicacion {
  text-align: center;
  color: white;
}
.containerUbicacion nav iframe {
  width: 90%;
  height: 400px;
}
.containerUbicacion nav p {
  padding: 3% 5% 5% 5%;
}
.containerUbicacion nav nav img {
  width: 100%;
}
.containerUbicacion h1 {
  font-size: 22px;
}
.containerUbicacion h2 {
  font-size: large;
  padding: 0 20px 20px 20px;
}
.containerUbicacion .fotosUbicacion {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  padding-bottom: 30px;
  gap: 5px;
}

/* Sugerencias.html */
.containerSugerencias {
  text-align: center;
  color: white;
}
.containerSugerencias h1 {
  font-size: 23px;
  padding-bottom: 20xp;
}
.containerSugerencias p {
  padding: 0 5% 5% 5%;
}
.containerSugerencias form {
  padding-bottom: 95px;
}
.containerSugerencias form div {
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: fantasy;
  gap: 8px;
}
.containerSugerencias form div textarea {
  resize: none;
  width: 200px;
  height: 70px;
}
.containerSugerencias form div select {
  width: 50px;
  height: 25px;
  text-align: center;
}
.containerSugerencias form div input {
  width: 70px;
  border-radius: 15px;
}

/* Footer */
footer {
  text-align: center;
  font-family: fantasy;
  background-color: #101010;
}
footer nav {
  padding-bottom: 10px;
}
footer nav ul {
  display: flex;
  font-size: small;
  list-style: none;
  padding-left: 0px;
}
footer nav ul li {
  display: flex;
  align-items: center;
  gap: 2px;
}
footer nav ul li a {
  text-decoration: none;
  color: white;
}
footer nav ul li img {
  width: 15%;
}
footer nav ul .list-color:hover {
  color: #4bd0ee;
  transition: all 0.4s;
}
footer p {
  color: white;
}

/* Estilo de tablet */
@media screen and (min-width: 600px) {
  .navbar div div ul li {
    font-size: medium;
  }
  main h1 {
    font-size: 28px;
    padding-bottom: 10px;
  }
  main .containerDivision .divisionLine {
    margin: 40px;
  }
  main .containerText {
    font-size: large;
  }
  footer nav {
    padding-bottom: 15px;
  }
  footer nav ul li {
    justify-content: center;
    font-size: medium;
    gap: 10px;
    padding-right: 10px;
  }
  footer p {
    font-size: medium;
    padding-bottom: 15px;
  }
  /* Agenda.html */
  .containerAgenda h1 {
    font-size: 28px;
  }
  .containerAgenda iframe {
    height: 450px;
  }
  .containerAgenda p {
    font-size: large;
  }
  .containerAgenda .firstP {
    padding-top: 6%;
  }
  .containerAgenda .lastP {
    padding-bottom: 6%;
  }
  /* Cortes */
  .containerCortes h1 {
    font-size: 28px;
  }
  /* Ubicacion.html */
  .containerUbicacion h1 {
    font-size: 28px;
  }
  .containerUbicacion h2 {
    font-family: fantasy;
  }
  .containerUbicacion .fotosUbicacion {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    gap: 10px;
    padding: 0 10px 30px 10px;
  }
  /* Sugerencias.html */
  .containerSugerencias h1 {
    font-size: 28px;
  }
  .containerSugerencias form div {
    padding: 20px;
  }
  .containerSugerencias form div textarea {
    width: 400px;
    height: 120px;
  }
  .containerSugerencias form div select {
    width: 80px;
    height: 30px;
  }
  .containerSugerencias form div input {
    width: 90px;
    height: 30px;
  }
}
/* Estilo de PC */
@media screen and (min-width: 1024px) {
  .navbar {
    padding: 0 10% 0 10%;
  }
  .navbar div a img {
    width: 200px;
  }
  .navbar div ul li a {
    font-size: large;
  }
  main {
    padding: 30px 0 20px 0;
  }
  main h1 {
    font-size: 28px;
  }
  main .containerImg {
    background-image: url(../img/fondo-container.jpg);
    display: grid;
    justify-content: center;
  }
  main .containerImg img {
    box-shadow: -50px 0px 50px 0px rgba(0, 0, 0, 0.3), 50px 0px 50px 0px rgba(0, 0, 0, 0.3);
  }
  main .containerDivision .flecha {
    width: 3%;
    padding-top: 6px;
  }
  main .containerDivision .divisionLine {
    margin: 27px;
  }
  footer {
    display: flex;
    padding: 0 10px 0 10px;
  }
  footer nav {
    width: 50%;
  }
  footer nav ul {
    flex-direction: column;
    gap: 4px;
  }
  footer nav ul li {
    justify-content: start;
  }
  footer nav ul li img {
    width: 5%;
  }
  footer p {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: end;
  }
  /* Agenda.html */
  .containerAgenda iframe {
    width: 70%;
  }
  .containerAgenda .firstP {
    padding-top: 50px;
  }
  .containerAgenda div form input {
    width: 20%;
  }
  .containerAgenda div form .sendBotton {
    width: 10%;
  }
  /* Cortes.html */
  .containerCortes {
    padding-top: 30px;
  }
  .containerCortes .containerEj {
    grid-template-columns: repeat(3, 1fr);
  }
  .containerCortes .containerEj div:hover {
    transform: scale(1.1);
    transition: 1.5s;
  }
  /* Ubicacion.html */
  .containerUbicacion {
    padding-top: 30px;
  }
  .containerUbicacion h1 {
    font-size: 28px;
    padding-bottom: 30px;
  }
  .containerUbicacion h2 {
    padding-top: 40px;
  }
  .containerUbicacion .containerMapa {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .containerUbicacion .containerMapa iframe {
    width: 45%;
  }
  .containerUbicacion .containerMapa p {
    width: 40%;
  }
  .containerUbicacion .fotosUbicacion {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .containerUbicacion .fotosUbicacion nav:hover {
    transform: scale(1.1);
    transition: 1.5s;
  }
  .containerUbicacion .fotosUbicacion .imgOne {
    grid-column-start: 2;
    grid-column-end: 4;
  }
  .containerUbicacion .fotosUbicacion .imgTwo {
    grid-column-start: -5;
    grid-column-end: -3;
  }
  .containerUbicacion .fotosUbicacion .imgThree {
    grid-column-start: -3;
    grid-column-end: -1;
  }
  /* Sugerencias.html */
  .containerSugerencias {
    padding-bottom: 130px;
  }
  .containerSugerencias p {
    padding: 25px 300px 40px 300px;
  }
  .containerSugerencias form {
    display: flex;
    justify-content: center;
    padding-bottom: 140px;
  }
}

/*# sourceMappingURL=styles.css.map */
