//Colores
$primaryColor: #101010;
$secondaryColor: #4bd0ee;
$tertiaryColor: white;
$header-color: #2C2C2C;

//Fuentes
$fontPrimary: fantasy;
$fontSecundary: arial;

//Imagen
$backgroundImg: "../img/fondo-container.jpg";
